---
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";

export interface Props {
  title: string;
  description?: string;
  itemBreadcrumbs?: Array<any>;
  keywords?: string;
  author?: string;
  preloadImage?: string;
}

const {
  title,
  description,
  itemBreadcrumbs,
  keywords = "Dibimbing",
  author = "Dibimbing",
  preloadImage,
} = Astro.props;

const breadcrumbs = {
  "@context": "https://schema.org/",
  "@type": "BreadcrumbList",
  itemListElement: itemBreadcrumbs,
};

// const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    {/* GA CODE */}
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-179969255-1"></script>
    <script
      set:html={`window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-179969255-1');`}
    />

    {/* GTM Code */}
    <script
      set:html={`(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K3BHFGB');`}
    />

    {
      itemBreadcrumbs ? (
        <>
          <script
            type="application/ld+json"
            set:html={`${JSON.stringify(breadcrumbs)}`}
          />
        </>
      ) : null
    }

    <!-- <link rel="canonical" href={`https://dibimbing.id${currentPath}`} /> -->
    <link href="https://dibimbing.id/" rel="publisher" />

    <meta name="keywords" content={keywords ? keywords : "Dibimbing"} />

    <meta content={author ? author : "Dibimbing"} name="author" />

    {
      preloadImage ? (
        <>
          <link rel="preload" as="image" href={preloadImage} />
        </>
      ) : null
    }

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />

    <link href="/css/global.css" rel="stylesheet" />

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"
    ></script>

    <HeadHrefLangs />
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: "Plus Jakarta Sans", sans-serif;
        background-color: #ffffff;
      }
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }

      .side-item-box-shadow {
        cursor: pointer;
        box-shadow: inset 2px 0px 0px #ccd4db;
        transition: ease 0.5;
      }

      .side-item-box-shadow:hover {
        cursor: pointer;
        box-shadow: inset 2px 0px 0px #0bb1cb;
        transition: ease 0.5;
      }

      .side-item-box-shadow-active {
        cursor: pointer;
        box-shadow: inset 2px 0px 0px #0bb1cb;
        background-color: #0bb1cb1a;
        transition: ease 0.5;
      }

      .transition-ease {
        transition: ease 0.5s;
      }

      .hide-scroll-bar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-height: none;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
